<div class="container imp">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a  class="stext-109 cl8 hov-cl1 trans-04">
				Administrador
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
		</div>
</div>

<section class="bg0 p-t-50 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr justify-content-center">
				<div class="size-210 boxadmin bor10 p-lr-70 p-t-30 p-b-70 p-lr-15-lg w-full-md">
					<h3 class="mtext-105 wlcm cl2 txt-center p-b-30">
						Bienvenido Administrador!
					</h3>
					<button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-b-30"><a class="refbtn" href="/admin/productos">Ver la lista de productos</a></button>

                    <button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-b-30"><a class="refbtn" href="/admin/usuarios"> Ver la lista de usuarios </a></button>
					
					<button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer m-b-30"><a class="refbtn" href="/admin/categorias">Ver la lista de categorías</a></button>
				</div>

			</div>
		</div>
</section>	
