<section class="bg-img1 txt-center p-lr-15 p-tb-92 " style="background-image: url('images/bannner.jpg');" >
		<h2 class="ltext-105 cl0 txt-center" style="color: rgb(0, 0, 0)">
			Contacto
		</h2>
</section>	
<h5 class="mtext-105 cl2 txt-center p-b-30 m-t-30">
	{{message}}
</h5>
<section class="bg0  p-b-116">
		<div class="container">
			<div class="flex-w flex-tr justify-content-center">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					<form method="POST" action="/contacto">
						<h4 class="mtext-105 cl2 txt-center p-b-30">
							Envianos tu mensaje
						</h4>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" required name="email" placeholder="Tu correo electónico">
							<img class="how-pos4 pointer-none" src="images/icons/icon-email.png" alt="ICON">
						</div>

						<div class="bor8 m-b-30">
							<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" required name="mensaje" placeholder="¿Cómo podemos ayudarte?"></textarea>
						</div>

						<button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
							Enviar
						</button>
                        
					</form>
				</div>

			</div>
		</div>
	</section>	